<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
  <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css'/>
  <link rel='stylesheet' href='/stylesheets/style.css'/>
  <title>Book Viewer</title>
</head>
<body>
<div id="content" class="container ">
  <div class="row">
    <h1 class="text-center"><%= title %></h1>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-justify">
      <p>Video provides a powerful way to help you prove your point. When you click Online Video, you can paste in the
        embed code for the video you want to add. You can also type a keyword to search online for the video that best
        fits your document.</p>

      <p>To make your document look professionally produced, Word provides header, footer, cover page, and text box
        designs that complement each other. For example, you can add a matching cover page, header, and sidebar. Click
        Insert and then choose the elements you want from the different galleries.</p>

      <p>Themes and styles also help keep your document coordinated. When you click Design and choose a new Theme, the
        pictures, charts, and SmartArt graphics change to match your new theme. When you apply styles, your headings
        change to match the new theme.</p>

      <p>Save time in Word with new buttons that show up where you need them. To change the way a picture fits in your
        document, click it and a button for layout options appears next to it. When you work on a table, click where you
        want to add a row or a column, and then click the plus sign.</p>

      <p>Reading is easier, too, in the new Reading view. You can collapse parts of the document and focus on the text
        you want. If you need to stop reading before you reach the end, Word remembers where you left off - even on
        another device.</p>
    </div>
  </div>
</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
<script type="text/javascript" src="javascripts/yaml.js"></script>
<script type="text/javascript" src="javascripts/viewer.js"></script>
</body>
</html>